/* Fonts */

@font-face {
    font-family: "Roboto";
    font-weight: 400; 
    font-style: normal;
    src: local("roboto"),
         url("roboto.woff2") format("woff2"),
         url("roboto.woff") format("woff");
  }
  
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: local("robotobold"),
         url("robotobold.woff2") format("woff2"),
         url("robotobold.woff") format("woff");
}

@font-face {
    font-family: "Roboto Medium";
    font-weight: 800;
    font-style: normal;
    src: local("robotobold"),
         url("robotomedium.woff.woff2") format("woff2"),
         url("robotomedium.woff.woff") format("woff");         
}

/* Color */

:root {
    --basic-white: #FFFFFF;
    --basic-silver: #EEEEEE;
    --basic-extra-silver: #DFDFDF;
    --basic-strong-silver: #D5D5D5;
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-dark: #444444;
    --basic-grey: #666666;
    --basic-pink: #FB565A;
    --basic-extra-pink: #E74246;
    --basic-strong-pink: #D7373B;
    --basic-green: #00CA74;
    --basic-extra-green: #00BC6C;
    --basic-strong-green: #00AA62;
    --basic-yellow: #EFC849;
    --basic-extra-yellow: #EAB534;
    --basic-strong-yellow: #E5A722;
}

/* Global */

.page {
    height: 100%;
}

.page-body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);

    min-width: 1440px;
    min-height: 100%;
    
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page-title {
    display: none;
}

.center {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main header */

.main-header {
    background-color: var(--basic-silver);
    margin-bottom: 0px;
}

/* Main navigation */

.main-nav {
    font-weight: 500;
    line-height: 30px;

    display: grid;
    grid-template-columns: min-content 1fr min-content; 
    grid-template-rows: 70px;
    margin: 49px auto;
    margin-bottom: 0px;
}
 
.main-button {
    grid-column: 1/2;
    justify-self: left;
}

.main-button:hover {
    opacity: 0.7;
}

.main-button:focus {
    opacity: 0.3;
}

.site-nav {
    margin: 0;
    padding: 0;
    grid-column: 2/3;
    justify-self: center;
    display: flex; 
    align-items: center;
}

.site-nav li:not(:last-child) {
    margin-right: 45px;
}

.basket {
    grid-column: 3/-1;
    justify-self: right;
    display: flex; 
    align-items: center;
}

.site-nav a:hover,
.basket:hover {
    color: var(--basic-pink);
}

.site-nav a:focus,
.basket:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Slidshow */

.slideshow-background {
    background-color: var(--basic-silver);
}

.slideshow-grid {
    margin: 0;
    padding: 0;



    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slideshow-text h2 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-top: 75px;
    margin-bottom: 25px;
}

.slideshow-text p {
    color: var(--basic-dark);
    margin-bottom: 38px;
}

.slideshow-text a {    
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-pink);
    
    width: 132px;
    height: 18px;
    padding: 17px 54px 15px 54px;
    border-radius: 3px;
}

.slideshow-img {
    display: block;
}

.slideshow-text a:hover,
.button-pink:hover,
.contacts button:hover {
    background-color: var(--basic-extra-pink);
}

.slideshow-text a:focus,
.button-pink:focus,
.contacts button:focus {
    background-color: var(--basic-strong-pink);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

/* Features */

.features-list {
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.features-item h3 {
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.features-item p {
    color: var(--basic-dark);
    margin-bottom: 49px;
}

.features-item a {
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-white);

    width: 81px;
    height: 18px;
    padding: 17px 40px 15px 39px;
    border-radius: 3px;
}

.button-pink {
    background-color: var(--basic-pink);
    border-radius: 3px;
}

.button-green {
    background-color: var(--basic-green);
    border-radius: 3px;
}

.button-yellow {
    background-color: var(--basic-yellow);
    border-radius: 3px;
}

.button-green:hover {
    background-color: var(--basic-extra-green);
}

.button-green:focus {
    background-color: var(--basic-strong-green);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.button-yellow:hover {
    background-color: var(--basic-extra-yellow);
}

.button-yellow:focus {
    background-color: var(--basic-strong-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
    opacity: 0,3;
}

/* Text Aside Grid */

.text-aside-grid {
    margin: 0;
    padding: 0;
    margin-bottom: 121px;

    display: grid;
    grid-template-columns: 1fr min-content;
}

/* Text */

.text {
    color: var(--basic-dark);

    grid-column: 1/2;
}

.text h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.text h4 {
    text-transform: uppercase;
}

.text li{
    line-height: 50px;
}

/* Aside */

.aside {
    grid-column: 2/-1;
}

.aside h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.aside-list p {
    line-height: 18px;
    color: var(--basic-dark)
}

.aside-list b {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.aside-list sup {
    font-size: 26px;
    line-height: 40px;
}

/* Company-list */

.company-list {
    margin-bottom: 145px;
}

.company-list li:not(:last-child) {
    margin-right: 100px;
}

.company-list img {
    opacity: 0.2;
}

.company-list li img:hover {
    opacity: 1;
}

.company-list li img:focus {
    opacity: 0.1;
}

/* Contacts */

.contacts {
    line-height: 18px;
    color: var(--basic-dark);
}

.contacts img {
    grid-column: 3/-1;
}

.contacts h4 {
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

.contacts-phone {
    color: var(--basic-dark);
}

.contacts button {
    font: inherit;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-pink);
    border-radius: 3px;
    border: none;
}

/* Main footer */

.footer-grid {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 139px;
}

.social-list {
    grid-column: 1/2;
}

.footer-text {
    grid-column: 2/-1;
}

.footer-text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 6px;
}

.footer-text p {
    line-height: 22px;
    color: var(--basic-extra-dark);
}

/* Main Catalog */

.catalog h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    background-color: var(--basic-silver);
    text-align: center;
}

/* Filters */

.filters {
    color: var(--basic-dark);
}

.filters fieldset {    
    border: none;
    line-height: 20px;
}

.filters legend,
.filters h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.cost-list li {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.cost-list input {
    background-color: var(--basic-silver);
    border: none;
    border-radius: 3px;
}

.filter-option label {
    opacity: 0.3;
}

.filter-option label:hover,
.filter-option label:active {
    opacity: 1;
}

.filter-button {
    font: inherit;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-silver);
    border: none;
    border-radius: 3px;
}

.filter-button:hover {
    background-color: var(--basic-extra-silver);
}

.filter-button:focus {
    background-color: var(--basic-strong-silver);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.sort-button,
.sort-button-show {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    border: none;
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.sort-button:hover,
.sort-button-show:hover {
    opacity: 0.6;
}

.sort-button:focus,
.sort-button-show:focus {
    opacity: 1;
}

/* Catalog */

.sell-window {
    background-color: var(--basic-silver);
    text-align: center
}

.sell-window h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sell-window p {
    line-height: 18px;
    color: var(--basic-grey);
}

.sell-window button {
    color: var(--basic-white);
    background-color: var(--basic-pink);
    border-radius: 3px;
    border: none;
}

.sell-window button:hover {
    background-color: var(--basic-extra-pink);
}

.sell-window button:focus {
    background-color: var(--basic-strong-pink);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);   
}

.page-number {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.page-number-button {
    background: var(--basic-silver);
    box-sizing: border-box;
    border-radius: 3px;
}

.page-next-button {
    background: var(--basic-silver);
    border-radius: 3px;
}

.page-number a:hover {
    background-color: var(--basic-extra-silver)
}

.page-number a:focus {
    background-color: var(--basic-strong-silver);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

/* End */