/* Fonts */

@font-face {
    font-family: "Roboto";
    font-weight: 400; 
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
  }
  
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 800;
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");         
}

/* Color */

:root {
    --basic-white: #FFFFFF;
    --basic-silver: #EEEEEE;
    --basic-extra-silver: #DFDFDF;
    --basic-strong-silver: #D5D5D5;
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-dark: #444444;
    --basic-grey: #666666;
    --light-gray: #E1E1E1;
    --basic-pink: #FB565A;
    --basic-extra-pink: #E74246;
    --basic-strong-pink: #D7373B;
    --basic-green: #00CA74;
    --basic-extra-green: #00BC6C;
    --basic-strong-green: #00AA62;
    --basic-yellow: #EFC849;
    --basic-extra-yellow: #EAB534;
    --basic-strong-yellow: #E5A722;
}

/* Global */

.page {
    height: 100%;
}

.page-body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);

    min-width: 1440px;
    min-height: 100%;
    
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.center {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Main header */

.main-header {
    background-color: var(--basic-silver);
    margin-bottom: 0px;
}

/* Main navigation */

.main-nav {
    font-weight: 500;
    line-height: 30px;
    margin-top: 50px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-button {
    width: 160px;
    height: 65px;
    margin: 0px;
    margin-right: 202px;
    padding: 0px;
}

.main-button:hover {
    opacity: 0.7;
}

.main-button:active,
.main-button:focus {
    opacity: 0.3;
}

.site-nav {
    width: 437px;
    height: 30px;
    margin: 0px;
    margin-top: 15px;
    margin-right: 246px;
    padding: 0px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    z-index: 1;
}

.site-nav a{
    margin: 0px;
    padding: 0px;
    display: block;
    position: relative;
}

.cart {
    width: 115px;
    height: 30px;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;

    position: relative;
    text-align: end;
}

.cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 8px;
    
    background-image: url("../img/icons/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;


}

.site-nav a:hover,
.cart:hover {
    color: var(--basic-pink);
}

.site-nav a:focus,
.site-nav a:active,
.cart:focus,
.cart:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Main footer */

.footer {
    margin-top: 68px;
    margin-bottom: 68px;
}

.footer-grid {
    margin: 0;
    padding: 0;

    display: flex;
}

.social-list {
    width: 261px;
    height: 81px;
    margin: 0px;
    padding: 0px;
    margin-right: 139px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list li {
    width: 81px;
    height: 81px;
    background: var(--light-gray);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list a {
    width: 81px;
    height: 81px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list li:hover {
    background-color: var(--basic-extra-pink);
}

.social-list li:active {
    background-color: var(--basic-strong-pink);
}

.social-list a:active {
    opacity: 0.5;
}


.footer-text h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 6px;
    margin: 0px;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 0px;
}

.footer-text p {
    margin: 0px;
    padding: 0px;
    line-height: 22px;
    color: var(--basic-extra-dark);
}

/* Slider */

.slider-background {
    height: auto;
    margin: 0px;
    padding: 0px;
    background-color: var(--basic-silver);

    margin-bottom: 63px;
}

.slider {
    position: relative;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slide:nth-of-type(1){
    display: block;
}

.slide {
    width: 1157px;
    height: 431px;
    margin: 0;
    padding: 0;
    position: relative;

    display: none;
}

.slide-text {
    width: 600px;
    height: 260px;
    margin: 0;
    margin-top: 85px;

    position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 10px;
}

.slide img {
    width: 760px;
    height: 431px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.slide-title {
    font-family: inherit;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;

    margin-bottom: 25px;
}

.slide p {
    margin: 0px;
    padding: 0px;
    color: var(--basic-dark);

    margin-bottom: 38px;
}

.slide .button {
    font-weight: 500;
    line-height: 18px;
    margin: 0px;
    padding: 0px;

    color: var(--basic-white);
    background-color: var(--basic-pink);
    
    width: 132px;
    height: 18px;
    padding: 17px 54px 15px 54px;
    border-radius: 3px;
}
.slide .button:hover,
.button-pink:hover,
.contacts button:hover {
    background-color: var(--basic-extra-pink);
}
.slide .button:focus,
.button-pink:focus,
.contacts button:focus {
    background-color: var(--basic-strong-pink);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;

    opacity: 0,2;
}

.slider-controls {
    width: 88px;
    height: 18px;
    margin: 0px;
    padding: 0px;

    position: relative;
    top: -114px;
    left: 536px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.slider-controls button {
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;

    background: var(--basic-white);
    border: none;
    border-radius: 50%;

}

.slider-controls .current::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;

    background-image: url("../img/icons/ellipse.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Features */

.features-list {
    width: 1158px;
    height: 429px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;

    display: flex;
    justify-content: flex-start;

    border-bottom: 2px solid;
    border-color:  var(--basic-silver);
}

.features-item {
    width: 300px;
    height: 347px;
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-item img {
    margin-bottom: 8px;
}

.features-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;

}

.features-item p {
    color: var(--basic-dark);
    margin-bottom: 34px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.features-item a {
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-white);

    width: 81px;
    height: 18px;
    padding: 17px 40px 15px 39px;
    border-radius: 3px;
}

.button-pink {
    background-color: var(--basic-pink);
    border-radius: 3px;
}

.button-green {
    background-color: var(--basic-green);
    border-radius: 3px;
}

.button-yellow {
    background-color: var(--basic-yellow);
    border-radius: 3px;
}

.button-green:hover {
    background-color: var(--basic-extra-green);
}

.button-green:focus {
    background-color: var(--basic-strong-green);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.button-yellow:hover {
    background-color: var(--basic-extra-yellow);
}

.button-yellow:focus {
    background-color: var(--basic-strong-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
    opacity: 0,3;
}

/* Text Aside Grid */

.text-aside-grid {
    height: 488px;
    margin: 0;
    padding: 0;
    
    display: grid;
    grid-template-columns: 1fr min-content;

    border-bottom: 2px solid;
    border-color:  var(--basic-silver);
}

/* Text */

.text {
    width: 651px;
    height: 379px;
    margin: 0px;
    padding: 0px;
    color: var(--basic-dark);

    grid-column: 1/2;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin: 0px;
    margin-top: 36px;
    margin-bottom: 15px;
    padding: 0px;
    color: var(--basic-black);
}

.text p {
    margin-bottom: 43px;
}

.text h4 {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    text-transform: uppercase;
}

.text-list {
    width: 431px;
    height: 120px;
    margin: 0px;
    padding-left: 35px;
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text li{
    margin: 0px;
    padding: 0px;
    line-height: 50px;

    list-style-image: url("../img/icons/dash.svg");
}

/* Aside */

.aside {
    width: 374px;
    height: 412px;
    margin: 0px;
    padding: 0px;

    grid-column: 2/-1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside-img {
    width: 360px;
    height: 208px;
    margin-left: 15px;
    margin-bottom: 38px;
}

.aside h4 {
    margin: 0px;
    margin-bottom: 31px;
    margin-left: 15px;
    padding: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.aside-list {
    width: 374px;
    height: 112px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.aside-list p {
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    color: var(--basic-dark)
}

.aside-list p:first-child {
    margin-bottom: 10px;
}

.aside-list b {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.aside-list sup {
    font-size: 26px;
    line-height: 40px;
}

/* Company-list */

.company-list {
    height: 180px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 2px solid;
    border-color:  var(--basic-silver);
}

.company-list li {
    width: 250px;
    height: 52px;
    margin: auto;
    margin-left: 35px;
}

.company-list li:not(:last-child) {
    border-right: 2px solid;
    border-color: var(--basic-silver);
}

.company-list img {
    opacity: 0.2;
}

.company-list li img:hover {
    opacity: 1;
}

.company-list li img:focus,
.company-list li img:active {
    opacity: 0.1;
}

/* Contacts */

.contacts {
    line-height: 18px;
    color: var(--basic-dark);
}

.contacts-map {
    width: 1440px;
    display: block;
    margin: 0 auto;
    padding: 0;
}    

.contacts-text {
    width: 219px;
    height: 209px;
    margin: 0px;
    padding: 49px 50px;
    background-color: var(--basic-white);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: absolute;
    transform-origin: top left;
    transform: translate(0px, -362px);
}

.contacts-text::after {
    content: "";
    width: 231px;
    height: 190px;
    position: absolute;
    top: 16px;
    left: 707px;
    margin: 0px;
    padding: 0px;

    background-image: url("../img/map-marker.png");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);

    margin-bottom: 23px;;
}

.contacts-text p {
    margin: 0px;
    padding: 0px;
    color: var(--basic-grey);
}

.contacts-phone {
    margin: 0px;
    margin-top: 18px;
    margin-bottom: 43px;
    padding: 0px;
    color: var(--basic-grey);
}

.contacts-text button {
    width: 219px;
    height: 50px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: var(--basic-white);

    background: var(--basic-pink);
    border-radius: 3px;
    border: none;
}


/* Main Catalog */

.catalog-border {
    position: relative;
}

.catalog-border::after {
    content: "";
    width: 73px;
    height: 2px;
    position: absolute;
    top: 41px;


    border-bottom: 2px solid;
    border-color: var(--basic-pink);
    z-index: 1;
}

.page-title-catalog-background {
    background-color: var(--basic-silver);
    margin-bottom: 55px;
    z-index: 0;
}

.catalog h1 {
    font-family: inherit;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    background-color: var(--basic-silver);
    text-align: center;

    margin: 0;
    padding: 0;
    padding-top: 78px;
    padding-bottom: 108px;
}

/* Catalog Grid */

.catalog-grid {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;

    display: grid;
    grid-template-areas: 
      "filters sort-grid"
      "filters site-page-grid"
      "filters page-number-grid";
}

.sort-grid {
    width: 759px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 87px;

    grid-area: sort-grid;

    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
    height: 765px;
    color: var(--basic-dark);
    margin: 0;
    padding: 0;
    margin-right: 140px;

    grid-area: filters;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.site-page-grid {
    width: 760px;
    height: 1920px;
    margin: 0px;
    padding: 0px;

    grid-area: site-page-grid;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 16px;
}

.page-number-grid {
    width: 443px;
    margin: 0px;
    padding: 0px;

    grid-area: page-number-grid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Filters */

.sort-grid h2 {
    margin: 0;
    margin-right: 218px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filters ul{
    margin: 0px;
    padding: 0px;

    margin-bottom: 47px;
}

.sort-grid-button {
    width: 272px;

    display: flex;
    justify-content: space-between;
}

.sort-grid-button-show {
    width: 42px;

    display: flex;
    justify-content: space-between;
}

.sort-button,
.sort-button-show {
    margin: 0px;
    padding: 0px;

    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    border: none;
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.sort-button:hover,
.sort-button-show:hover {
    opacity: 0.6;
}

.sort-button:focus,
.sort-button-show:focus {
    opacity: 1;
}

.filters fieldset {
    margin: 0;
    padding: 0;    
    border: none;
    line-height: 20px;
}

.filters legend {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;

    margin-bottom: 14px;
}

.filter-option label {
    font-family: inherit;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    position: relative;
    
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-option {
    line-height: 20px;
    margin: 0;
    padding: 0;
    
    opacity: 0.3;
}

.filter-radio {
    width: 149px;
    padding-left: 36px;
    margin-bottom: 20px;
}

.filter-checkbox {
    width: 180px;
    padding-left: 36px;
    margin-bottom: 20px;
}

.filter-option:hover,
.filter-option:active,
.filter-option:checked {
    opacity: 1;
}

.filter-button {
    font-family: inherit;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-silver);
    border: none;
    border-radius: 3px;

    margin: 0px;
    margin-top: 3px;
    padding: 0px;
    padding: 17px 89px 15px 88px;
}

.filter-button:hover {
    background-color: var(--basic-extra-silver);
}

.filter-button:focus {
    background-color: var(--basic-strong-silver);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -36px;
    border: 4px solid;
    border-color: #4D4D4D;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    top: 8px;
    left: -28px;
    background-color: #4D4D4D;
    border-radius: 50%;
}

.filter-input-checkbox+label::before {
    content: "";
    width: 23px;
    height: 23px;
    top: 0px;
    left: -36px;
    position: absolute;

    background-image: url("../img/icons/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    width: 25px;
    height: 23px;
    position: absolute;
    left: -36px;

    background-image: url("../img/icons/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: var(--basic-white);

}

/** Filters Range Cost **/

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 34px;
    margin-bottom: 54px;
}

.range-controls {
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--light-gray);
    border-radius: 5px;

    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green)
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid;
    border-color: var(--basic-white);
    background-color: #ABABAB;
    border-radius: 50%;
    box-shadow: 0px 2px 1px 0px #CFCFCF;

    position: absolute;
    top: 31px;
    left: 0;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls input {
    font-family: inherit;
    font-size: inherit;
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-dark);
    border: none;
    border-radius: 5px;
    background: #F1F1F1;    
}

/* Catalog */

.work {
    width: 360px;
    height: 578px;
    margin: 0px;
    padding: 0px;

    position: relative;
}

.work::before {
    content: "";
    position: absolute;
    width: 361px;
    height: 40px;
    top: -40px;
    left: -0,5px;

    background-image: url("../img/icons/browser-grey.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.work:not(:last-child) {
    margin-bottom: 72px;
}

.work img {
    display: block;
    width: 358px;
    height: 578px;
    margin: 0px;
    padding: 0px;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.work:focus,
.work:hover {
    border: none;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);   
}

.work:focus::before,
.work:hover::before {
    content: "";
    position: absolute;
    width: 361px;
    height: 40px;
    top: -40px;
    left: -0,5px;

    background-image: url("../img/icons/browser-black.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.sell-window {
    width: 370px;
    height: 233px;
    margin: 0px;
    padding: 0px;
    width: 360px;
    background-color: var(--basic-silver);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 349px;
}

.sell-window h3 {
    margin: 0px;
    margin-top: 28px;
    margin-bottom: 11px;
    padding: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sell-window p {
    margin: 0px;
    margin-bottom: 33px;
    padding: 0px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-grey);
    text-align: center;
}

.sell-window button {
    margin: 0px;
    padding: 0px;
    margin-bottom: 44px;
    color: var(--basic-white);

    padding: 17px 72px 15px 72px;
    background-color: var(--basic-pink);
    border-radius: 3px;
    border: none;
}

.sell-window button:hover {
    background-color: var(--basic-extra-pink);
}

.sell-window button:focus {
    background-color: var(--basic-strong-pink);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);   
}

.page-number-button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background: var(--basic-silver);
    box-sizing: border-box;
    border-radius: 3px;

    padding: 17px 20px 15px 20px;
}

.page-number-button:nth-last-child(1){
    background: var(--basic-silver);
    border-radius: 3px;

    padding: 17px 77px 15px 78px;
}

.page-number-button:hover {
    background-color: var(--basic-extra-silver)
}

.page-number-button:focus {
    background-color: var(--basic-strong-silver);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

/* End */