@font-face {
    font-family: "Roboto";
    font-weight: 400; 
    font-style: normal;
    src: local("roboto"),
         url("roboto.woff2") format("woff2"),
         url("roboto.woff") format("woff");
  }
  
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: local("robotobold"),
         url("robotobold.woff2") format("woff2"),
         url("robotobold.woff") format("woff");
}

@font-face {
    font-family: "Roboto Medium";
    font-weight: 800;
    font-style: normal;
    src: local("robotobold"),
         url("robotomedium.woff.woff2") format("woff2"),
         url("robotomedium.woff.woff") format("woff");         
}

:root {
    --basic-white: #FFFFFF;
    --basic-silver: #EEEEEE;
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-extra-dark: #444444;
    --basic-pink: #FB565A;
    --basic-extra-pink: #E74246;
    --basic-strong-pink: #D7373B;
    --basic-green: #00CA74;
    --basic-extra-green: #00BC6C;
    --basic-strong-green: #00AA62;
    --basic-yellow: #EFC849;
    --basic-extra-yellow: #EAB534;
    --basic-strong-yellow: #E5A722;
}

body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}

header {
    background-color: var(--basic-silver);
}    

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
    line-height: 18px;
    border-radius: 3px;
}

li {
    list-style: none;
}

h1 {
    display: none;
}

h2 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}

p {
    color: var(--basic-dark);
}

.main-nav {
    font-weight: 500;
    line-height: 30px;
}

.main-button img:hover {
    opacity: 0.7;
}

.main-button img:focus {
    opacity: 0.3;
}

.site-nav a:hover,
.basket:hover {
    color: var(--basic-pink);
}

.site-nav a:focus,
.basket:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

.slideshow-text,
.slideshow {
    background-color: var(--basic-silver);
}

.slideshow-text a {
    color: var(--basic-white);
    background-color: var(--basic-pink);
    border-radius: 3px;
}

.slideshow-text a:hover,
.button-pink:hover,
.contacts button:hover {
    background-color: var(--basic-extra-pink);
}

.slideshow-text a:focus,
.button-pink:focus,
.contacts button:focus {
    background-color: var(--basic-strong-pink);
    opacity: 0,3;
}

.button-green:hover {
    background-color: var(--basic-extra-green);
}

.button-green:focus {
    background-color: var(--basic-strong-green);
    opacity: 0,3;
}

.button-yellow:hover {
    background-color: var(--basic-extra-yellow);
}

.button-yellow:focus {
    background-color: var(--basic-strong-yellow);
    opacity: 0,3;
}

.slideshow-button button{
    border-radius: 100%
}

.features-item a {
    color: var(--basic-white);
}

.button-pink {
    background-color: var(--basic-pink);
}

.button-green {
    background-color: var(--basic-green);
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.text h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.text {
    color: var(--basic-dark);
}

.text li{
    list-style-image: url("img/icons/dash.svg");
    line-height: 50px;
}

.aside-list p {
    line-height: 18px;
}

.aside-list b {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.aside-list sup {
    font-size: 26px;
    line-height: 40px;
}

.company-list img {
    opacity: 0.2;
}

.company-list li img:hover {
    opacity: 1;
}

.company-list li img:focus {
    opacity: 0.1;
}

.contacts {
    line-height: 18px;
    color: var(--basic-dark);
}

.contacts h4 {
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

.contacts-phone {
    color: var(--basic-dark);
}

.contacts button {
    font: inherit;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-pink);
    border-radius: 3px;
    border: none;
}

.footer-text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 10px;
}

.footer p {
    line-height: 22px;
    color: var(--basic-extra-dark);
}